body{
	background: #66a4db;
}

body{
    font:20px;
}

#container {
    width:400px;
    margin:0 auto;
    margin-top:10%;
}

/* Set a style for all buttons */
#submit_deco {
    background-color: #D82424;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    
}
#submit_deco:hover {
    background-color: white;
    color: #D82424;
    border: 1px solid #D82424;
}








